spring:
  application:
    name: genericLLMAdapter

  datasource:
    url: jdbc:postgresql://127.0.0.1:5432/postgres
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none # Flyway handles all schema management
    properties:
      hibernate:
        default_schema: operational_data
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    url: jdbc:postgresql://127.0.0.1:5432/postgres
    user: postgres
    password: postgres
    locations: classpath:db/migration
    schemas: defining_data, operational_data, log_data, user_data
    default-schema: operational_data

  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
    huggingface:
      api-key: ${HUGGINGFACE_API_KEY}

logging:
  level:
    root: INFO
    de.angr2301.genericLLMAdapter: DEBUG
